<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="user">User</a> -->
      <a mat-list-item routerLink="song">Song</a>
      <div>
        <!-- <table border="2">
          <th>songId</th>
          <th>songName</th>
          <tbody *ngFor="let x of song.playList">
              <td>
                <a  (click)="onCreate1()"></a>
                {{ x.songId }}</td><td>{{ x.songName }}</td>
          </tbody>
      </table> -->
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SPOTIFY</span>
      <a href="" style="margin-left:850px; color: white;" >
        <mat-icon 
        (click)="logout()">exit_to_app

        </mat-icon>
        Logout
      </a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
